$border-thickness-sm: 1px;
$border-thickness-md: 4px;
$border-thickness-lg: 8px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-pill: 240px;
$border-radius-circle: 1000px;
$border-radius-none: 0;
$color-brand-primary-dark-15: rgb(0, 100, 143);
$color-brand-primary-base: rgb(0, 152, 218);
$color-brand-primary-light-20: rgb(66, 198, 255);
$color-brand-primary-light-40: rgb(168, 229, 255);
$color-brand-primary-light-55: rgb(240, 250, 255);
$color-brand-secondary-base: rgb(46, 43, 96);
$color-brand-secondary-light-30: rgb(108, 104, 187);
$color-brand-secondary-light-50: rgb(176, 174, 219);
$color-brand-secondary-light-55: rgb(227, 227, 242);
$color-brand-secondary-light-64: rgb(245, 244, 250);
$color-neutral-darkest: rgb(0, 0, 0);
$color-neutral-dark-60: rgb(13, 27, 43);
$color-neutral-dark-50: rgb(38, 55, 76);
$color-neutral-dark-40: rgb(51, 74, 102);
$color-neutral-dark-35: rgb(84, 105, 130);
$color-neutral-dark-15: rgb(135, 152, 173);
$color-neutral-base: rgb(171, 189, 210);
$color-neutral-light-10: rgb(207, 222, 229);
$color-neutral-light-20: rgb(229, 239, 249);
$color-neutral-light-25: rgb(245, 248, 250);
$color-neutral-lightest: rgb(255, 255, 255);
$color-yellow-dark-25: rgb(127, 102, 0);
$color-yellow-base: rgb(255, 204, 0);
$color-yellow-light-20: rgb(255, 224, 102);
$color-yellow-light-35: rgb(255, 240, 178);
$color-yellow-light-45: rgb(255, 250, 229);
$color-orange-dark-15: rgb(153, 82, 0);
$color-orange-base: rgb(255, 136, 0);
$color-orange-light-20: rgb(255, 184, 102);
$color-orange-light-30: rgb(255, 207, 153);
$color-orange-light-45: rgb(255, 243, 229);
$color-blue-light-dark-15: rgb(4, 124, 124);
$color-blue-light-base: rgb(6, 198, 198);
$color-blue-light-light-10: rgb(25, 217, 217);
$color-blue-light-light-40: rgb(156, 252, 252);
$color-blue-light-light-55: rgb(230, 254, 254);
$color-green-dark-15: rgb(4, 124, 71);
$color-green-base: rgb(6, 198, 114);
$color-green-light-20: rgb(57, 249, 165);
$color-green-light-40: rgb(156, 252, 210);
$color-green-light-55: rgb(230, 254, 244);
$color-red-dark-20: rgb(204, 0, 0);
$color-red-base: rgb(255, 51, 51);
$color-red-light-10: rgb(255, 102, 102);
$color-red-light-20: rgb(255, 153, 153);
$color-red-light-35: rgb(255, 229, 229);
$color-blue-dark-10: rgb(0, 72, 178);
$color-blue-base: rgb(0, 92, 229);
$color-blue-light-20: rgb(76, 148, 255);
$color-blue-light-40: rgb(178, 209, 255);
$color-blue-light-55: rgb(229, 240, 255);
$color-purple-dark-25: rgb(76, 0, 153);
$color-purple-base: rgb(102, 0, 204);
$color-purple-light-20: rgb(153, 51, 255);
$color-purple-light-40: rgb(204, 153, 255);
$color-purple-light-55: rgb(242, 229, 255);
$shadow-elevation-1: 0px 4px 8px rgba(137, 173, 255, 0.15);
$shadow-elevation-2: 0px 8px 16px rgba(137, 173, 255, 0.25);
$shadow-elevation-3: 0px 16px 32px rgba(137, 173, 255, 0.25);
$shadow-elevation-4: 0px 32px 64px rgba(137, 173, 255, 0.25);
$shadow-elevation-5: 0px 48px 96px rgba(137, 173, 255, 0.35);
$shapes-height-3xs: 20px;
$shapes-height-2xs: 24px;
$shapes-height-xs: 32px;
$shapes-height-sm: 40px;
$shapes-height-md: 48px;
$shapes-height-lg: 64px;
$shapes-height-xl: 96px;
$shapes-height-2xl: 128px;
$shapes-height-3xl: 256px;
$shapes-width-3xs: 20px;
$shapes-width-2xs: 24px;
$shapes-width-xs: 32px;
$shapes-width-sm: 40px;
$shapes-width-md: 48px;
$shapes-width-lg: 64px;
$shapes-width-xl: 96px;
$shapes-width-2xl: 128px;
$shapes-width-3xl: 256px;
$shapes-size-3xs: 20px;
$shapes-size-2xs: 24px;
$shapes-size-xs: 32px;
$shapes-size-sm: 40px;
$shapes-size-md: 48px;
$shapes-size-lg: 64px;
$shapes-size-xl: 96px;
$shapes-size-2xl: 128px;
$shapes-size-3xl: 256px;
$spacing-stack-3xl: 64px;
$spacing-stack-2xl: 56px;
$spacing-stack-xl: 48px;
$spacing-stack-lg: 32px;
$spacing-stack-md: 24px;
$spacing-stack-sm: 16px;
$spacing-stack-xs: 12px;
$spacing-stack-2xs: 8px;
$spacing-stack-3xs: 4px;
$spacing-inline-3xl: 64px;
$spacing-inline-2xl: 56px;
$spacing-inline-xl: 48px;
$spacing-inline-lg: 32px;
$spacing-inline-md: 24px;
$spacing-inline-sm: 16px;
$spacing-inline-xs: 12px;
$spacing-inline-2xs: 8px;
$spacing-inline-3xs: 4px;
$spacing-inset-sm: 16px 16px;
$spacing-inset-md: 32px 32px;
$spacing-inset-lg: 64px 64px;
$spacing-squish-xs: 4px 8px;
$spacing-squish-sm: 8px 12px;
$spacing-squish-md: 8px 16px;
$spacing-squish-lg: 16px 32px;
$spacing-squish-xl: 32px 64px;
$spacing-squish-none: none;
$opacity-level-1: 0.08;
$opacity-level-2: 0.4;
$opacity-level-3: 0.8;
$font-family-primary: "Poppins";
$font-family-secondary: "Nunito";
$font-size-3xl: 72px;
$font-size-2xl: 48px;
$font-size-xl: 40px;
$font-size-lg: 32px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-xs: 16px;
$font-size-2xs: 14px;
$font-size-3xs: 12px;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-extra-light: 200;
$line-height-2xl: 96px;
$line-height-xl: 72px;
$line-height-lg: 48px;
$line-height-md: 40px;
$line-height-sm: 32px;
$line-height-xs: 24px;
$line-height-2xs: 20px;
$line-height-3xs: 16px;
$letter-spacing-lg: 0.4px;
$letter-spacing-md: 0;
$letter-spacing-sm: -0.4px;
$letter-spacing-sm: -0.4px;
